[build]
builder = "NIXPACKS"

[deploy]
startCommand = "python app.py"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks]
packages = [
    "python3",
    "python3-pip",
    "libxcb-xinerama0",
    "libxcb-cursor0",
    "libxkbcommon-x11-0",
    "libgl1-mesa-glx",
    "libglib2.0-0",
    "libsm6",
    "libxext6",
    "libxrender-dev",
    "libgomp1"
]
